<% provide(:title, "Giving") %>
<div class="container stuff">
	<h1 style="font-size: 7rem; font-weight: bold;">Giving</h1>

	<div class="card">
		<div class="row gofundme">
			<div class="col-md-4">
				<embed height="382rem;" noscroll="true" id="roger-michael-funeral-campaign" src="//www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=roger-michael-funeral-campaign&image=1&coinfo=1&preview=1&nocache=1" type="text/html"></embed>
			</div>
			<aside class="col-md-8">
				<div class="card card-gofundme">
				    <h3 style="font-size: 6rem; text-align: center;"><strong>GoFundMe</strong></h3>
				    <p>Because the Memorial Services will not be at a funeral home, it may be difficult to arrange for flowers.  In lieu of flowers please consider supporting the family with a donation toward the funeral expenses through a GoFundMe that has been established.</p>
				</div>
		    </aside>
		</div>
	</div>

	<div class="card">
		<div class="row">
			<% if logged_in? %>
				<div class="col-md-7">
			<% else %>
				<div class="col">
			<% end %>
					<h1>Instructions for Food gifts</h1>

					<p>You may also choose to support the family by bringing food to share following the Fort Wayne Memorial Service.  Please make a post on the Giving page with a brief mention of what you will be bringing just so everyone has an idea of what might be needed.  The family thanks you for your words and acts of sympathy and support.</p>

					<p style="margin-top: 2vh;"></p>
				</div>
				<% if logged_in? %>
				<aside class="col-md-5">
				    <section class="user_info">
				    	<%= render 'shared/user_info' %>
				    </section>
				    <section class="giving_form">
				    	<%= render 'shared/giving_form' %>
				    </section>
			    </aside>
			<% end %>
		</div>
	</div>

	<div class="card">
		<h3>Current list:</h3>
		<%= render 'shared/gifts' %>
	</div>
</div>