<div class="center jumbotron">
	<h1>Roger Mark Michael</h1>

	<h2>In Memoriam
		<br><br>
		July 1, 1955 - Jan. 5, 2019
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary outline" %>
</div>

<hr>

<div class="bio jumbotron p-3 p-md-5 text-white rounded bg-dark">
	<div class="bio-pic img-thumbnail">
		<%= image_tag("Headshot.jpg", :size => 350, :alt => "Roger Michael") %>
	</div>

	<h1>Biography</h1>

	<p><strong>ROGER MARK MICHAEL</strong>, 63, departed this life for the next on January 5, 2019.  Born on July 1, 1955, in Clarksburg WV to Ernest and Martha Michael, and he was a graduate of South Harrison High School.  Roger resided in Fort Wayne IN with his wife of 25 years.</p>

	<p style="margin-top: 2vh;">Roger is survived by his wife Dacia, his three sons, Jeremy Michael (Amber), Dakota Michael and Dawson Michael (Jessica), and his three grandchildren Joshua, Lauri Ann and Rylie Marcella.  He is also survived by two sisters, and two brothers, Frankie Kelley (Layton), Connie Reynolds (Ken), Jeff Michael, Tim Michael (Raelynn), as well as twelve nieces and nephews.  Roger was preceded by both his parents, and his brother Lynn Michael... <%= link_to "read more", bio_path %>.</p>
</div>