<% provide(:title, "Service Information") %>
<h1>Service Information</h1>

<div class="wv bio jumbotron p-3 p-md-5 text-white rounded bg-dark">
<h1>West Virginia</h1>

<p>A memorial service will be held on Saturday, January 12th at 1:00 pm at Horizons Church, 8302 Mount Clare Road, Lost Creek, WV 26385.</p>
</div>

<div class="fw bio jumbotron p-3 p-md-5 text-white rounded bg-dark">
<h1>Fort Wayne, IN</h1>

<p>A memorial service will be held on Saturday, January 19th at 11:00 am at Salomon Farm Park Learning Center, 817 West Dupont Road, Fort Wayne, IN 46825.</p>
</div>