<% provide(:title, "Service Information") %>
<h1>Service Information</h1>

<div class="wv jumbotron p-3 p-md-5 text-white rounded bg-dark col-md-5 col-sm-12">
	<h1>West Virginia</h1>

	<p>Saturday, January 12th at 1:00 pm</p>
	<p>Horizons Church</p>
	<p>
		8302 Mount Clare Road
		<br>
		Lost Creek, WV 26385.
	</p>
	</div>

	<div class="fw jumbotron p-3 p-md-5 text-white rounded bg-dark col-md-5 col-sm-12">
	<h1>Indiana</h1>

	<p>Saturday, January 19th at 11:00am</p>
	<p>Salomon Farm Park Learning Center</p>
	<p>
		817 West Dupont Road
		<br>
		Fort Wayne, IN 46825.
	</p>
</div>