<% provide(:title, "Service Information") %>
<div class="container stuff">
<h1>Service Information</h1>

<div class="wv jumbotron p-3 p-md-5 text-white rounded bg-dark col-md-5 col-sm-12">

	<h1>West Virginia</h1>

	<dl class="row">
		<dt class="col-sm-3">Date:</dt>
		<dd class="col-sm-9">Saturday, January 12th at 1:00 pm</dd>
		<br><br>
		<dt class="col-sm-3">Venue:</dt>
		<dd class="col-sm-9">Horizons Church</dd>
		<br><br>
		<dt class="col-sm-3">Address:</dt>
		<dd class="col-sm-9">
			<u>8302 Mount Clare Road
			<br>
			Lost Creek, WV 26385</u>
		</dd>
	</dl>
</div>

<div class="fw jumbotron p-3 p-md-5 text-white rounded bg-dark col-md-5 col-sm-12">

	<h1>Indiana</h1>

	<dl class="row">
		<dt class="col-sm-3">Date:</dt>
		<dd class="col-sm-9">Saturday, January 19th at 11:00am</dd>
		<br><br>
		<dt class="col-sm-3">Venue:</dt>
		<dd class="col-sm-9">Salomon Farm Park Learning Center</dd>
		<br><br>
		<dt class="col-sm-3">Address:</dt>
		<dd class="col-sm-9">
			<u>817 West Dupont Road
			<br>
			Fort Wayne, IN 46825</u>
		</dd>
	</dl>
</div>
</div>