<%= form_for(@food) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "What would you like to bring?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>